@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --font-family-one: "Noto Serif", serif;
  --font-family-two: "Noto Sans Vithkuqi", sans-serif;
  --font-family-three: "Inter", sans-serif;
  --primary-color: rgba(61, 16, 9, 0.789);
  --secondary-color: rgb(141, 133, 88);
  --greyish-color: rgba(255, 255, 255, 0.74);
  --white-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  /* outline: #4CAF50 solid 2px; */
}

html {
  font-size: 16px;
}

body {
  padding: 0 3rem;
  background: var(--greyish-color)
}

h2 {
  font-size: 62px;
  color: var(--primary-color)
}

p {
  color: var(--secondary-color);
  font-family: var(--font-family-two);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family-two);
  padding-bottom: 1rem;
}

footer {
  background-color: var(--primary-color);
  padding: 4rem;
  margin: 0 -3rem;
}

header {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 700;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

li {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0.5rem;
}

.nav-item.active {
  background-color: var(--primary-color);
  color: var(--white-color)
}

.image_caraousel {
  width: 70%;
}

img {
  width: 100%;
  height: 90vh;
}

.hero-section {
  margin-bottom: 10rem;
}

#home {
  display: flex;
}

.card {
  width: 30%;
}

.pattern {
  width: 79%;
  height: 200px;
  background-image: radial-gradient(var(--primary-color) 4px, transparent 4px);
  background-size: 20px 20px;
  background-color: var(--white-color);
}

.card-content {
  position: absolute;
  top: 300px;
  width: 500px;
  padding: 5rem 2rem;
  height: 25vh;
  background: var(--greyish-color);
  box-shadow: 0 4px 30px rgba(223, 135, 18, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.direction {
  background: var(--greyish-color);
  padding: 1rem;
  font-size: 2.5rem;
  position: absolute;
  color: var(--primary-color);
  z-index: 2;
  right: 6rem;
  bottom: 2rem;
}

.trusted-brands {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-two);
  margin-bottom: 10rem;
}

.trusted-brands>p {
  color: #5e2c06;
  font-weight: 700;
  font-size: 1.5rem;
}

.brand-logo {
  height: inherit;
  min-height: 30px;
}

.hot-deals {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  place-items: center;
  gap: 1rem;
  margin-bottom: 10rem;
  background-color: var(--secondary-color);
  margin: 4rem -3rem;
  padding: 2rem 3rem;
}

.hot-deals>div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hot-deals>div>h2 {
  font-size: 50px;
}

.hot-deals>div>i {
  font-size: 34px;
}

.hot-deals>div>p {
  font-family: var(--font-family-two);
  color: var(--white-color);
}

.about-us {
  margin-bottom: 10rem;
}

.about-brief {
  display: grid;
  grid-template-columns: 500px 150px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4em;
}

.about-brief>button {
  border: none;
  border-radius: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1rem;
  gap: 2rem;
  cursor: pointer;
}

.about-brief>button:hover {
  background-color: #5e2c06;
  color: var(--white-color);
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.about-desc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.about-desc>span>h4 {
  font-size: 28px;
  font-family: var(--font-family-two);
  color: #5e2c06;
}

.about-desc>span>p {
  font-family: var(--font-family-two);
  color: #5e2c06;
}

.about-desc>span:nth-child(1) {
  grid-column: 1 / span 2;
}

.feedback {
  margin-top: 2rem;
}

.feedback>div>h2,
.feedback>div>p {
  text-align: center;
  padding: 1rem
}

.team {
  display: grid;
  gap: 1rem;
  margin-bottom: 5rem;
  place-items: center;
}

.team>div {
  max-height: 400px;
  max-width: 400px;
  background: var(--greyish-color);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team h4 {
  font-size: 28px;
  font-family: var(--font-family-two);
  color: #5e2c06;
  margin: 1rem 0;
}

.team strong {
  font-family: var(--font-family-two);
}

.team p {
  font-family: var(--font-family-two);
  color: #5e2c06;
  text-align: center;
  padding: 1rem
}

.position {
  font-size: 12px;
}

.product {
  margin-bottom: 10rem;
}

.product-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.product-header>h2 {
  font-size: 48px;
  font-family: var(--font-family-two);
  color: #5e2c06;
}

.product-header>a {
  font-family: var(--font-family-two);
  color: #5e2c06;
}

.product-card__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.product-card {
  background: rgb(143, 135, 89);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card>span {
  position: absolute;
  color: white;
  top: -1rem;
  right: -1rem;
  width: 50px;
  height: 50px;
  background: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.product-card>div>h4 {
  font-family: var(--font-family-two);
  font-size: 24px;
  margin-bottom: 1rem;
}

.product-card>div>span {
  display: inline-flex;
  gap: 1rem;
}

.product-card>div>span>strong {
  font-family: var(--font-family-two);
}

.product-card>div>span>s {
  color: #f4f4f4;
  font-family: var(--font-family-two);
}

.product-card>div>img {
  display: block;
  margin: auto;
  width: 100%;
  height: 70%;
}


#contact {
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;
  padding: 2rem 0;
}

#contact>h2 {
  color: var(--white-color);
  font-size: 50px;
  font-family: var(--font-family-two);
}

#contact>span>button {
  border: none;
  border-radius: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1rem;
  gap: 2rem;
  cursor: pointer;
}

#contact>span>button:hover {
  background-color: aqua;
  color: #5e2c06;
}

hr {
  margin: 2rem 0;
}

.footer-container {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
}

.footer-container>div>h4 {
  margin-bottom: 0.5rem;
  color: var(--white-color);
  font-family: var(--font-family-two);
}

.footer-container>div>p {
  color: #b19292;
  font-size: 12px;
}

.footer-container>div>ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-container>div>ul>li {
  color: #b19292;
  padding: 0;
}

/* Media queries for responsiveness */

@media screen and (max-width: 1200px) {
  body {
    padding: 0 1rem;
  }

  .hero-section {
    margin-bottom: 5rem;
  }

  .about-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .about-desc>span {
    grid-column: 1 / -1;
  }

  .product-card__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
  }

  .feedback-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-container {
    display: flex;
    gap: 2rem;
  }

  footer,
  .hot-deals {
    margin-inline: -1rem;
  }


}

@media screen and (max-width: 992px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    margin-top: 1rem;
  }

  .card {
    display: none;
  }

  .image_caraousel {
    width: 100%;
  }

  .image_caraousel>img {
    height: 70vh;
  }

  .card-content {
    position: relative;
    top: 0px;
    width: 100%;
    padding: 5rem 0;
  }

  .card-content>h2,
  .card-content>p {
    text-align: center;
  }

  .card-content>p {
    padding: 1rem;
  }

  .direction {
    right: 45%;
    bottom: -10%;
  }

  .about-image_container {
    width: 100%;
    height: 60%;
    padding: 2rem 0;
  }

  .footer-container {
    display: flex;
    gap: 2rem;
  }


}

@media screen and (max-width: 768px) {
  .image_caraousel {
    width: 100%;
  }

  .direction {
    right: 2rem;
    bottom: 1rem;
  }

  .about-image_container {
    width: 90%;
    height: 35vh;
    padding: 2rem 0;
  }

  .about-brief {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 2rem;
    text-align: center;
  }

  .about-desc {
    grid-template-columns: 1fr;
  }

  .about-desc>span:nth-child(1) {
    grid-column: 1 / span 1;
  }

  .product-section {
    padding-top: 5rem;
  }


  .product-card__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .team {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  h2 {
    font-size: 48px;
  }

  .product-card__container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .product-card {
    height: 100%;
  }

  .team {
    grid-template-columns: 1fr;
  }

  .hot-deals {
    grid-template-columns: 1fr;
  }

  .product-header {
    flex-direction: column;
    align-items: center;
  }

  .about-us {
    margin-bottom: 0;
  }

  .about-desc {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .about-desc>span:nth-child(1) {
    grid-column: 1 / span 1;
  }

  .product-section {
    padding-top: 15rem;
  }

  #contact {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem 0;
  }

  #contact>span {
    padding-top: 4rem;
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: flex-start;
  }

}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 36px;
  }

  .product-section {
    padding-top: 0;
  }
}